@use "../Util/index" as *;

.card {
  flex-direction: column;
  gap: em(9, 16);
  justify-content: space-between;

  .card-image {
    border-radius: em(3, 16);
  }

  .card-date {
  }

  .card-title {
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
  }

  .card-description {
    font-size: rem(16);
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
