@use "../Util/index" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    font-weight: 500;
    font-family: $main-font;
    margin-bottom: 0.1em;
}

h1 {
    font-family: $title-font;
}

P {
    overflow-wrap: break-word;
    hyphens: auto;
    font-size: rem(14);
}

a {
    color: hsl(Var(--clr-dark));
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
    cursor: pointer;
}

a:hover {
    color: hsl(Var(--clr-primary));
}
