@use "../Util/index" as *;

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.grid {
  display: grid;
  gap: var(--gap, 1em);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1em);
}

.container {
  margin-inline: auto;
  max-width: min(rem(1440), calc(100% - 2rem));

  @include breakpoint(tablet) {
    padding-inline: em(32, 16);
  }

  @include breakpoint(small-screen) {
    padding-inline: em(28, 16);
  }

  @include breakpoint(hd-screen) {
    padding-inline: em(24, 16);
  }

  @include breakpoint(desktop) {
    padding-inline: 0;
  }
}

/* for screen readers to hide content */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* colors */

.clr-dark {
  background-color: hsl(Var(--clr-bg));
  color: hsl(var(--clr-white));
}

.clr-accent {
  background-color: hsl(Var(--clr-primary));
  color: hsl(var(--clr-white));
}

.clr-white {
  background-color: hsl(Var(--clr-white));
  color: hsl(var(--clr-bg));
}

/* typography */

.ff-fira {
  font-family: "Fira Sans", sans-serif;
}

.ff-molengo {
  font-family: "Molengo", sans-serif;
}

.ff.gudea {
  font-family: "Gudea", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

/* Anchor Tag Button */

a.button {
  border-radius: em(4, 14);
  font-size: rem(14);
  padding: em(5, 14) em(10, 14);
  display: inline-block;
  width: fit-content;
  background-color: hsl(var(--clr-bg));
  color: hsl(var(--clr-white));
  border: 2px solid hsl(var(--clr-white));
  transition: all 0.5s linear;

  &:hover,
  &:focus-within {
    background-color: hsl(var(--clr-white));
    color: hsl(var(--clr-bg));
    border: 2px solid hsl(var(--clr-bg));
    transition: all 0.2s linear;
  }
}
