---
import Layout from "../layouts/Layout.astro";
import RecentPosts from "../components/RecentPosts.astro"
---

<Layout>
   <main class="clr-white about_main">
      <section class="about_content container">
         <img class="avatar" src="/images/downloaded/avatar.png" alt="avatar">
         <div class="about_content_text"> <h1>Hi there! My name is Roku and welcome to my learning journal.</h1>
            <p>After several months of learning in the Frontend Developer Career Path, I've made the big jump over to
               the Bootcamp to get expert code reviews of my Solo Projects projects and meet like-minded peers.</p>
         </div>
      </section>
      <section class="extra_informatin container flow">
         <div class="block">
            <h1>How I stay committed to learning</h1>
            <p>I like to think of myself as a lifelong learner. I used to spend hours and hours learning, then try to create simple projects using what I learned or work new techniques into existing projects.
            </p>
            <p>While that was fun, I felt like it would be helpful to share what I was learning and most things about my journey with the world.</p>
         </div>
         <div class="block">
            <h1>How I stay committed to learning</h1>
            <p>I like to think of myself as a lifelong learner. I used to spend hours and hours learning, then try to create simple projects using what I learned or work new techniques into existing projects.
            </p>
            <p>While that was fun, I felt like it would be helpful to share what I was learning and most things about my journey with the world.</p>
         </div>
      </section>
   <RecentPosts/>
   </main>
</Layout>
