@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Gudea:wght@400;700&family=Molengo&display=swap');

$title-font:'Fira Sans', sans-serif;
$main-font: 'Molengo', sans-serif;
$text-font: 'Gudea', sans-serif;

